
/* home page */

.home-stage {
    height:100%;
    overflow:hidden;
}


#background {
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    overflow:hidden;
}


.home-image-block {
    position: absolute;
    top: 0;
}

.home-image-mask {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: attr(data-tint-color color, #ffffff);
    opacity: attr(data-opacity number, 0.6);
}

.home-image {
    width:auto;
}

.home-slide {
    height:100vh;
    width:80%;
    margin:auto;
    position:relative;
}

.home-slide-content-relative {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.home-slide-tagline {
    @include text-size($text-tagline);
}

.home-page-link {
    display: inline-block;
    background-color: $link;
    color: white;
    padding: .5em .5em 0.2em .5em;
    margin-bottom: .5em;
    border:2px solid transparent;

    &:hover {
        background-color: white;
        border:2px solid $link;
    }
}

.press-page-link {
    @extend .home-page-link;

}
