menu {
    width: 100%;
    background-color: $brand-background;
    position: fixed;
    top:0;
    left:0;
    margin:0;
    padding-top:25px;

    transition-duration: $nav-transition-duration;

    z-index: 100;

}

.menu-closed menu {
    transform:translateY(-100%);
}


.menu-open menu {
    transform:translateY(0%);
}

.menu-site-navigation-container ul li {
    padding-top:1em;
    padding-bottom:1em;

    a {
        color: white;
    }
}




$text-nav: (
	xs: (16px, 53px),
	sm: (14px, 53px),
	md: (16px, 53px),
	lg: (18px, 53px),
	xl: (19px, 53px)
	);

#nav{
    position:absolute;

    transition-duration: $nav-transition-duration;

	top: 0;
	left: 0;
	width: 100%;
	height: $nav-height;
	z-index: 7;
	padding-top: 15px;
    background-color: transparent;

	&.fixed{
		position: fixed;
	}

	@media screen and (max-width: $sm) {
		height: $nav-height-mobile;
	}

	.menu ul{
		float: right;
		position: relative;
		right: -9px;
	}

	li{
		display: inline-block;
		margin-left: 10px;
	}

	a{
		@include text-size($text-nav);
		display: block;
		padding: 0 15px;
		@include transition(all .125s);
		height: 50px;
		line-height: 50px;
		vertical-align: middle;
        border-bottom: none;

		&:hover{
			color: $link;
		}

		@media screen and (max-width: $lg) {
			padding: 0 10px;
		}

		@media screen and (max-width: $sm) {
			padding: 0 9px;
			height: 34px;
			line-height: 34px;
		}

		@media screen and (max-width: $xs) {
			display: none;
		}
	}

}

.logo{

	a{
		display: block;

        svg {
            width: 150px;
        }

	}
}

@include sm-query {
    .logo {
        display: none;
    }
}

@include xs-query {
    .logo {
        display: none;
    }
}

.hamburger-line {
    width:50px;
    height:4px;
    background-color: black;
}
