.page-hero {
    height:100vh;
}

.page-hero-content {

    position: relative;
    top:50%;
    transform: translateY(-50%);

    margin-top: 2em;

}

/**
 * Content for the page page-hero-title-slash
 */

.page-hero-tagline {
    margin-bottom: 2em;
}

.page-hero-title-english {
    display: block;
    text-align: right;
    margin-bottom: .5em;
}

.page-hero-title-slash {
    position: absolute;
    top:-0.65em;
    left:-0.35em;
}

.page-hero-title-espanol {
    display: block;
    text-align: left;
}

.page-hero-description {
    color:$brand;
}

.page-down-arrow {
    display: none;
    text-align: center;
    vertical-align: center;
}

.page-down-arrow-button {
    width:75px;
    height:75px;
    border-radius: 50px;
    display: inline-block;

    span:before {
        padding-bottom: .1em;
        top: -0.05em;
    }
}

@include xs-query {
    .page-hero-description {
        display: none;
    }

    .page-down-arrow {
        display: block;
    }
}

@include sm-query {
    .page-hero-description {
        display: none;
    }
    .page-down-arrow {
        display: block;
    }
}

// @media ( max-width: $xs ) {
//     .page-hero-description {
//         display: none;
//     }
// }

.page-hero-description-espanol {
    margin-top: 2em;
}



.section-title-english {
    text-align: left;
}

.section-title-slash {
    margin-left: .75em;
    margin-right: 0em;
}

.section-title-espanol {
    text-align: left;
}

// .color-backed {
//     background-color: $brand;
//     color: white;
//     padding: .5em;
// }
