.publicity-link {
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 2px solid $medium-dark;
    }
}

.show-bg-image {
    display: block;
    width: 400px;
    opacity: $default-opacity;
}
