

body{
	font-family: $font-main;
	font-weight: normal;
	@include text-size($text-regular);
	color: $dark;
}

*{
	font-family: $font-main;
}

.serif {
	font-family: $font-serif;
	letter-spacing: 0;
	font-weight: normal;

	&.italic{
		font-family: $font-serif-italic;
		font-style: italic;
	}

	&.bold,&strong{
		font-family: $font-serif-bold;
		font-weight: bold;
	}

}


//type sizes
//default sizes include:
//massive, huge, large, medium, regular, small

.h {
    font-weight: normal;
    color: $brand;
}

h1,.h1{
	@include text-size($text-massive);
    @extend .h;
}

h2,.h2{
	@include text-size($text-huge);
    @extend .h;
}

h3,.h3{
	@include text-size($text-large);
    @extend .h;
}

h4,.h4{
	@include text-size($text-regular);
    @extend .h;
}

h5,.h5{
	@include text-size($text-medium-small);
    @extend .h;
}

h6,.h6{
	@include text-size($text-small);
    @extend .h;
}

p{
	@include text-size($text-regular);
	margin-top: 0;
}

//formatting

.bold, strong {
    font-family: $font-bold;
    font-weight: bold;
}

.bolder {
    font-family: $font-black;
	font-weight: bolder;
}

.italic,em{
	font-family: $font-italic;
}

.font-light{
	font-family: $font-light;
}

.uppercase{
	text-transform: uppercase;
}

.underline{
	text-decoration: underline;
}

.centered{
	text-align: center;
}

.righted{
	text-align: right;
}

.tracked-less{
	letter-spacing: .06em;
}

.tracked{
	letter-spacing: .09em;
}

.small {
    @include text-size($text-medium-small);
}

.smaller {
    @include text-size($text-small);
}


//typography colors

.brand{
	color: $brand;
}

.white{
	color: white;
}

.ultra-light{
	color: $ultra-light;
}

.light{
	color: $light;
}

.medium-light{
	color: $medium-light;
}

.medium{
	color: $medium;
}

.medium-dark{
	color: $medium-dark;
}

.dark{
	color: $dark;
}


//icons

.pictogram {
    font-family: 'modern_pictograms_proregular';
    font-weight: normal;
}

.icon{
    font-family: 'modern_pictograms_proregular';
    font-weight: normal;

	&:before {
		content: attr(data-icon);
		font-family: 'modern_pictograms_proregular';
		font-size: 36px;
		line-height: 100%;
		vertical-align: bottom;
		position: relative;
        font-weight: normal;
        //padding-top:1em;
	}

	&.large:before{
		font-size: 72px;
	}
    &.centered:before {
        text-align: center;
        width: 100%;
        margin: auto;
    }
}



.english {
    color: $english;
}

.espanol {
    color: $espanol;
}

.link {
    color:$link;
}
