
/** ===========
 * Walk Cards
 * ============
 */

.walk-card-box {
    position: relative;
    display: block;
    border: none;
}

.upcoming-walk-card .walk-card-box {
    height: $upcoming-walk-height;
}

[data-single].upcoming-walk-card .walk-card-box {
    height: $upcoming-walk-height;
}

a.walk-card-box:hover {
    .walk-card-location h4, .walk-card-date h3 {
        color: $link;
    }

    .walk-card-link {
        display: inline-block;
    }

    border: none;
}

.walk-card-data {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}



.walk-card-location {
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 50%;

    text-align: left;
}

.walk-card-date {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;

    text-align: right;
}

.walk-card-upcoming {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translateX(-50%)translateY(-50%);

    text-align: center;
}

.walk-card-link {
    position: absolute;
    bottom: -1%;
    right: 0%;
    display: none;
}

.clipped-blob {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 52%;
    left: 51.5%;

    transform: translateX(-50%)translateY(-50%);

    background-color: salmon;
}

.upcoming-walk-card .clipped-blob {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    opacity: $default-opacity;
}


/** ===========
 * Single Walks
 * ============
 */

 .walk-gallery-image-block {
     display: block;
     position: relative;
     border-bottom: none;

     &:hover{
        border-bottom: none;
     }
 }

 .walk-gallery-image-block {

     .walk-gallery-image-caption {
         color:rgba(255,255,255,0);
         transition: color $caption-transition $caption-timing-function;
     }


     &:hover .walk-gallery-image-link-icon {
         display: none;
     }

     &:hover .walk-gallery-image-link-icon-title {
         opacity: 1 !important;
     }

     &:hover .walk-gallery-image-caption {
         @extend .medium;
     }

 }

.walk-gallery-image {
    display:block;
    transition-duration: $nav-transition-duration;

}




 a .walk-gallery-image-mask {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: $medium;

    &:hover {
        opacity:.8;
    }

 }

a .walk-gallery-image-link-icon {

    position: absolute;
    top:2.5%;
    left:2.5%;

    color:white;
}

 a .walk-gallery-image-link-title {
    position: absolute;
    top:50%;
    left:50%;

    transform: translateX(-50%)translateY(-50%);

    opacity: 1;

 }

 .affiliate-logo-link {
     border:none;
     &:hover {
         border:none;
     }
 }

 .publicity-link:hover {
     p {
         color:$link;
     }
 }


 // workshops

 .walk-workshop-header-row {
     border-bottom: 1px solid $medium-light;

     &:hover .workshop-name {
         cursor: pointer;
         color: $link;
     }

 }

 .accordian-state {
     text-align: right;
     float: right;

     transition: transform $nav-transition-duration;
 }

 .accordian-state.closed {

 }

 .accordian-state.open {
     transform: rotate(-90deg);
 }
